
*{margin:0; padding:0}

body {background-color:#36C}

#wrapper {width:950px; margin:auto}

header {height:259px; margin-top:20px; position:relative}
header p {position:absolute; top:30px; left:20px; width:250px; background-color:#06F; padding:20px}


#top p {text-align:center; margin-top:20px}}
#top p a {color:#FFF}

menu {background-color:#039; padding:10px}
menu a {color:#FFF; margin-left:20px}

article {background-color:#FFF; margin:auto; padding:50px}
article h1 {background-color:#CCC; padding:10px}
article p {padding:20px; margin-left:-20px}
article img {margin-left:8px; margin-top:20px; margin-bottom:10px}
article #image {width:777px; margin:auto}

footer {background-color:#666; padding:10px}
footer hr {color:#333}
footer p {color:#999; margin-left:50px}
