<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <link href="../static/styles/style.css" th:href="@{styles/style.css}" rel="stylesheet" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.1/css/all.css" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Tickets Purchase</title>
</head>
<body>
    <div id="wrapper">
        <header>
            <div id="header-left">
            </div>
            <div id="header-right">
                <ul>
                    <li><a href="/logout">logout</a></li>
                    <li><a href="/">create an event</a></li>
                    <li><a href="/">create an event</a></li>
                </ul>
            </div>
        </header>
    </div>

    <div th:if = "${name} == null">
        <h1>Welcome</h1>
    </div>
    <div th:unless = "${name} == null">
        <h1>Welcome <span th:text="${name}"></span>!</h1>
    </div>
    <form action="/user-settings">
        <button class="btn"><i class="fas fa-user-cog"></i></button>
    </form>

    <table>
        <tr th:each="event : ${listEvents}">
            <td th:text = "${event.eventName}"></td>
        </tr>
    </table>
</body>
</html>