#inner-body-bg{
    background: 0;
    z-index:6;
    min-height:1200px;
    max-width: 800px;
    position: relative;
    margin: -130px 60px 0px 60px;
    border-style: solid;
    margin-left: auto;
    margin-right: auto;
}

#form-content-wrapper{
    margin-top: 150px;
}

#key-wrapper{
    float: left;
    display: inline-block;
    padding-left: 20%;
    padding-bottom: 30%;
}

#key-wrapper li{
    text-decoration:none;
    list-style: none;
    margin-top: 48px;
    font-size: 18px;
}

#value-wrapper{
    float: right;
    display: inline-block;
    padding-right: 20%;
}

#value-wrapper li{
    text-decoration:none;
    list-style: none;
    margin-top: 40px;
}

input{
    width: 100%;
    padding: 5px 20px;
    box-sizing: border-box;
}

text-area{
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
}

#button-wrapper{
    position: relative;
    display: block;
    margin-top: 50px;
    margin-right: 20%;
    float:right;
    padding: 10px;
}



