/*
settings for:
ticket-purchase, setting page, create event, ticket verified
*/

#inner-body-bg{
    background: 0;
    z-index:6;
    min-height:1200px;
    max-width: 800px;
    position: relative;
    margin: -130px 60px 0px 60px;
    border-style: solid;
    margin-left: auto;
    margin-right: auto;
}

#form-content-wrapper{
    margin-top: 50px;
}

#key-wrapper{
    float: left;
    display: inline-block;
    padding-left: 20%;
    padding-bottom: 10%;
}

#key-wrapper li{
    text-decoration:none;
    list-style: none;
    margin-top: 48px;
    font-size: 18px;
}

#value-wrapper{
    float: right;
    display: inline-block;
    padding-right: 20%;
}

#value-wrapper li{
    text-decoration:none;
    list-style: none;
    margin-top: 40px;
}

#value-wrapper label{
    padding-top: 10px;
    display: block;
    width: 180px;
}

input{
    width: 100%;
    padding: 5px 20px;
    box-sizing: border-box;
}

text-area{
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
}

#button-wrapper{
    position: relative;
    display: block;
    margin-top: 40px;
    margin-right: 20%;
    float:right;
    padding: 10px;
}

#main-title{
    text-align: center;
    padding-top: 50px;
}

#main-title-fail{
    text-align: center;
    padding-top: 50px;
}

#form-wrapper{
    margin-top: 40px;
}

#response-msg{
    text-align: center;
    color: red;
}

.setting-input-box{
    width: 300px;
}

/*
settings for:
ticket-purchase and setting page
*/

#key-value-wrapper{
    display: block;
    height: 200px;
    padding-bottom: 30px;
}

#wrapper-content #setting-message{
    text-align: center;
    color: red;
    padding-top: 50px;
}

#middle-button-wrapper{
    padding: 10px;
    margin-left: 47%;
}

/*
settings for:
ticket-verified
*/
#purchase-message{
    padding-top: 40px;
    text-align: center;
    color: red;
}

/*
settings for:
ticket-transfer
*/
#ticket-transfer-value-li{
    padding-top:10px;
}

.ticket-transfer-input-box{
    width: 270px;
}

