#inner-body-bg {
    background:url(../images/login-main-bg.jpg) no-repeat center fixed;
    background-size: cover;
    z-index:6;
    height:1200px;
    position:relative;
    margin: -130px 60px 0px 60px;
}

#wrapper-content{
    text-align: center;
    padding-top: 20%;
}
