*{margin:0; padding:0}

/* -------------------- HEADER -------------------*/
#header-wrapper{
    background:url(../images/header-bg.png) repeat-x;
    z-index: 5;
    height: 70px;
    position: relative;
    margin-top: 0px;
    padding: 30px 30px 0px 60px;
}


/* ----------------- HEADER LEFT -----------------*/
header #header-left{
    float:left;
    width:500px;
}


/* ----------------- HEADER RIGHT -----------------*/
header #header-right{
    float:right; /* alignment of the menu bar */
    width:600px;
    margin-right:30px;
}

header #header-right ul{
    float:right;
    list-style:none;
}

header #header-right ul li{
    float:left;
    text-align:center;
}

header #header-right ul li a{
    padding: 30px 0px 25px 50px;
    text-decoration:none;
    color:#000;
    font-family:open-sansregular;
    font-size: 16px;
    display:block;
    line-height:30px;
}

header #header-right ul li a:hover{
    transition:ease-out 0.5s;
    color:#ff9cba;
}


/* ----------------- Body Content ---------------------*/
#outer-top-body-bg{
    background:url(../images/header-bg.png) repeat-x;
    z-index:5;
    height:170px;
    position:relative;
    margin-top: 0px;
    padding: 30px 30px 0px 30px;
}

#outer-top-body-bg h1{
    padding-right: 30px;
    float: right;
}

#inner-body-bg {
    background:url(../images/main-bg.jpeg) no-repeat center fixed;
    background-size: cover;
    z-index:6;
    min-height:1200px;
    position: relative;
    margin: -130px 60px 0px 60px;
}

#search-bar-wrapper{
    overflow: hidden;
    text-align: center;
}

#search-bar-wrapper .search-bar{
    margin: 50px 20px 20px 20px;
    text-align: center;
    width:80%;
    border: 5;
    height: 36px;
    padding: 0px 0px 0px 15px;
    outline: 1;
    border-radius: 18px;
}

#event-list-content-wrapper{
    margin-top: 20px;
}

#event-list-content-wrapper #event-list{
    list-style-type: none;
    text-align: center;
    opacity: 80%;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    padding: 10px 20px 10px 20px;
}

#event-list-content-wrapper #event-list li a{
    text-decoration:none;
    color: #3153E6;
}

#event-list-content-wrapper #event-list #each-list-wrapper{
    border-radius: 18px;
    background-color: #FFFF;
    position: relative;
    height: 20%;
    margin-top: 10px;
    padding: 10px;
}

#event-list-content-wrapper #event-list #each-list-wrapper:hover{
    text-align: center;
    background-color: #BFBBBA;
}

#event-date{
    color: red;
    display: block;
}

#address{
    color: #040404;
}

#price{
    color: #040404;
}

#show-more-wrapper{
    padding-top: 40px;
    color: #FFFF;
}

/* ------------------- Footer ----------------------*/
#footer-wrapper{
   background:url(../images/header-bg.png) repeat-x;
   position: relative;
   bottom: 0;
   margin-top: -130px;
   min-height: 200px;   /* Height of the footer */
}

#footer-wrapper footer{
    text-align: center;
    padding-top: 150px;
}